body {
    background-color:   #212121;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-right: 0.5rem;
  }
  
  button:hover {
    background-color: #0097a7;
  }
  
  .file-upload {
    margin-bottom: 1rem;
  }